*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

h1{
    font-size: 3.5em;
    font-weight: bold;
    padding: 20px;
}
h2{
    font-size: 3em;
    font-weight: bold;
    
}
h3{
    font-size: 2em;
    
}
p{
    font-size: 1.25em;
}
ul{
    list-style: none;
}
li{
    font-size: 1.25em;
}
button{
font-size: 1.5em;
font-weight: bold;
padding: 10px 30px;
border-radius: 15px;
border: 2px solid rgba(0, 0, 0, 0.5);
box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
color: white;
background-color:darksalmon;
}

button:hover{
    background-color:rgb(149, 92, 73);
}
.container{
    max-width: 1400px;
    margin: auto;

}

.color-dcuero{

    color: darksalmon;
}

header{
    background-color: whitesmoke;

}
header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: darksalmon;
    font-size: 1.7em;


}
header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;

}
header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

header a:hover{
    color: darksalmon;
}

/* Section de Nuestras Manos */
#centro{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    color: white;
    background-image: linear-gradient(0deg,rgba(0,0,0,0.5),rgba(0,0,0,0.5) ), 
    url(fotos/fabricacion.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

}

/* Section somos Dcuero Line */

#somos-dcuero .container{
    text-align: center;
    padding: 200px 12px;
}

/* Section Nuestros Productos */

#nuestros-productos {
    background-color: rgb(25, 25,25);
    color: white;
    text-align:center;
    margin: 10px;
}

#nuestros-productos .container {
    padding: 150px 0px;
    
}
#nuestros-productos h2{
    margin-top: 0;
    font-size: 3.2em;
}

#nuestros-productos p{
    display: none;
}

#nuestros-productos button{
    display: none;
}
    
      
#nuestros-productos .productos{
    background-position: center center;
    background-size: cover;
    padding: 10px;
    margin: 20px;

}

.ofertas:first-child {
    background-image: url("fotos/zapato.jpg");
    background-position: center center;
    background-size: cover;
    height: 350px;
    border-radius: 30px;
    
}


.ofertas:nth-child(2) {
    background-image: url(fotos/botin.jpg);
    background-position: center center;
    background-size: cover;
    height: 350px;
    border-radius: 30px;
    
}


.ofertas:nth-child(3) {
    background-image: url(./fotos/zapatilla.jpg);
    background-position: center center;
    background-size: cover;
    height: 350px;
    border-radius: 30px;
}
.ofertas:nth-child(4) {    
    background-image: url(./fotos/bototo.jpg);
    background-position: center center;
    background-size: cover;
    height: 350px;
    border-radius: 30px;
}

/* Section ofertas  */

#caracteristicas .container{
    text-align: center;
    padding: 200px 12px;
}

#caracteristicas li{
    margin: 16px 0px;
    font-weight: bold;
}