*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

h1{
    font-size: 5em;
    font-weight: bold;
    padding: 20px;
}
h2{
    font-size: 3em;
    font-weight: bold;
    
}
h3{
    font-size: 2em;
    
}

p{
    font-size: 1.25em;
}
ul{

    list-style: none;
}
li{
    font-size: 1.25em;
}
button{
font-size: 1.5em;
font-weight: bold;
padding: 10px 30px;
border-radius: 20px;
border: 2px solid rgba(0, 0, 0, 0.5);
box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
color: white;
background-color:darksalmon;

}

button:hover{
    background-color:rgb(149, 92, 73);
    
}
.container{
    max-width: 1400px;
    margin: auto;

}

.color-dcuero{

    color: darksalmon;
}

header{
    background-color: whitesmoke;

}
header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: darksalmon;
    font-size: 3em;


}
header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;

}
header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 2.5em;
}

header a:hover{
    color: darksalmon;
}

/* Section de Nuestras Manos */
#centro{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    color: white;
    background-image: linear-gradient(0deg,rgba(0,0,0,0.5),rgba(0,0,0,0.5) ), 
    url(fotos/fabricacion.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#centro button{
    border-radius: 15px;
}

#centro input{
    border-radius: 15px;
    width: 300px;
    padding: 5px;
    margin: 10px;
}

#centro h1{
    font-size: 4em;
}

/* Section somos Dcuero Line */

#somos-dcuero .container{
    text-align: center;
    padding: 200px 12px;
}

/* Section Nuestros Productos */

#nuestros-productos {
    background-color: rgb(25, 25,25);
    color: white;
    text-align:center;
    margin: 10px;
}

#nuestros-productos .container {
    padding: 80px 0px 0px 0px;
    
}
#nuestros-productos h2{
    margin-top: 0;
    font-size: 3.2em;
}

#nuestros-productos .ofertas{
   margin: 30px;
}

#nuestros-productos .productos{
    background-position: center center;
    background-size: cover;
    padding: 10px;
    margin: 20px;

}

.ofertas:first-child {
    background-image: url("fotos/zapato.jpg");
    background-position: center center;
    background-size: cover;
    height: 350px;
    border-radius: 30px;
    
}


.ofertas:nth-child(2) {
    background-image: url("fotos/botin.jpg");
    background-position: center center;
    background-size: cover;
    height: 350px;
    border-radius: 30px;
    
}


.ofertas:nth-child(3) {
    background-image: url("fotos/zapatilla.jpg");
    background-position: center center;
    background-size: cover;
    height: 350px;
    border-radius: 30px;
}
.ofertas:nth-child(4) {    
    background-image: url("fotos/bototo.jpg");
    background-position: center center;
    background-size: cover;
    height: 350px;
    border-radius: 30px;
}

/* Section ofertas  */

#caracteristicas .container{
    text-align: center;
    padding: 200px 12px;
}

#caracteristicas ul{
    margin: 0;
    padding: 0;
}

#caracteristicas li{
    margin: 20px;
    font-weight: bold;
}

/* Footer link */
footer{
    background-color: rgb(76, 72, 72);
    padding: 70px 0;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.footer-col {
    width: 100%;
    padding: 0 15px;
    text-align: center;
    
}

.footer-col a {
    color: white;
    text-decoration: none;

}
.footer-col a:hover {
    color: darksalmon;

}


.footer-col li{
padding: 20px 20px;
}

.footer-col ul{
    padding: 0;
    }

.footer-col h4{
    font-size: 2em;
    color:rgb(30, 29, 29);

}

.footer-col .logo{
    color: darksalmon;
}

.footer-col .social-link a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40Px;
    border-radius: 50%;
    color: #ffffff;
}

/* Responsive */

@media (min-width: 720px){
    hearder{
        position: fixed;
        width: 100%;
    }

    header .container{
        flex-direction: row;
        justify-content: space-between;
    }
    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }

    header .logo {
      
        font-size: 1.75em;
}

    header a{
  
    font-size: 1.2em;
}


#somos-dcuero  .container{
display: flex;
justify-content:center ;
padding: 100px 12px;

}

#somos-dcuero  .texto{
   width: 50%;
   text-align: initial;
   padding: 0px 30px;
   display: flex;
   flex-direction: column;
   justify-content: center;
    
    }
#somos-dcuero .img-container{
    background-image: url("fotos/nosotros.jpg");
    background-size: cover;
    background-position: center center;
    height: 500px;
    width: 2000px;
    border-radius: 70px;
}

#somos-dcuero h2{
    margin-top: 0px;
}

#nuestros-productos{
    margin: 0px;
}

#nuestros-productos .container{
    padding: 50px 0px;
}

#nuestros-productos .productos{
display: flex;
justify-content: space-between;


}
#nuestros-productos .ofertas{
    height: 460px;
    width: 600px;
    margin: 10px;
    color: darksalmon;
    background-size: cover;
    background-position: center center;
}
}